@use "../../library" as themes;
@import "../../common";

.overviewContainer {
  background-color: white;
  align-items: center;
  padding: 5px;
  margin: 0px 0px 8px 0px;
}

.gap {
  background-color: themes.$tilte1-bcr;
  height: 8px;
  margin: 4px 0px;
}

.index {
  @extend .h5;
  padding-top: 16px;
}

.questionsContainer {
  background-color: white;
  // padding: 16px;
  height: 100%;
}

.questionItem {
  padding: 16px;
}

.question {
  @extend .p;
  padding: 0px 0px 0px 12px;

  font-family: 'OpenSans-SemiBold';

}

.option {
  padding: 2px 0px 2px 0px;
  flex-direction: row;
}

.optionIndex {
  @extend .p;
  font-family: 'OpenSans-Regular';
}

.optionText {
  @extend .p;
  font-family: 'OpenSans-Regular';
  // padding-right: 16px;
  flex: 1;
  flex-wrap: wrap;
}

.a {
  @extend .p;
  font-family: 'OpenSans-Regular';
}

.buttonContainer {
  flex-direction: row;
  margin: 16px 0px;
}

.radio {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.selectedOption {
  background-color: #C3DFDD;
  flex-direction: row;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 6px 0px;
}

.incorrectSelectedOption {
  background-color: #F3C4C5;
  flex-direction: row;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 6px 0px;
}