@use "../../library" as themes;
@import "../../common";



.maincontainer {
    background-color: #F8F8F8;
    height: 100%;

}

.main {
    background-color: white;
    margin-bottom: 10px;
}

.main1 {
    background-color: white;
    margin-bottom: 10px;
}

.main2 {
    background-color: white;
    margin-bottom: 10px;
    height: 16%;
}

.line {
    width: 100%;
    height: 10px;
    background-color: #F8F8F8;
}

.head {
    flex-direction: row;
}

.texthead {
    margin-top: 6px;
    padding-left: 16px;

}

.texthead1 {
    margin-top: 6px;
    padding-left: 16px;

}



// .text {
//     padding: 2px;
//     font-weight: 700;
//     color: black;
//     margin-top: 15px;
//     background-color: #F8F8F8;
//     width: 100%;
//     height: 18px;
//     font-size: 15px;
//     border-radius: 2px;
// }

// .text1 {
//     padding: 2px;
//     font-weight: 700;
//     color: black;
//     margin-top: 16px;
//     margin-left: 5px;
//     padding-left: 7px;
//     background-color: #F4777C;
//     width: 100%;
//     height: 18px;
//     // font-size: 15px;
//     border-radius: 3px;
// }

// .p1 {
//     font-family: Open sans-serif;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 22px;
//     line-height: 25px;
//     margin-left: 16px;
//     margin-top: 30px;
//     color: black;
// }


.icon {
    height: 28px;
    width: 28px;
    justify-content: center;
    background-color: #FFCB05;
    padding: 4px;
    border-radius: 4px;
    // margin-right: 6px;


}

.examDetail {
    margin-top: 6px;
    padding-left: 16px;

}

.duration {
    margin-left: 12px;

    font-weight: 700;

    @extend .h5;
}

.duration1 {
    margin-top: 4px;
    margin-left: 12px;

    @extend .p1;
}

.fullmark {
    // margin-left: 60px;
    width: 50%;
    flex-direction: row;
}

.fullmarks {
    margin-left: 15px;
    font-weight: 700;
    @extend .h5;
}

.fullmarks1 {
    margin-top: 4px;
    margin-left: 15px;

    @extend .p1;

}

.passmark {
    margin-top: 12px;
    flex-direction: row;
    margin-bottom: 12px;
    width: 50%;

}

.passmarks {
    margin-left: 12px;
    font-weight: 700;
    @extend .h5;
}

.passmarks1 {
    margin-top: 4px; 
    margin-left: 12px;
    @extend .p1;
}


.mark {
    flex-direction: row;
    margin-top: 12px;
    // margin-left: 28px;
    width: 50%;

}

.marks {
    margin-left: 12px;
    font-weight: 700;
    @extend .h5;
}

.marks1 {
    margin-top: 4px;
    margin-left: 12px;
    @extend .p1;
}

.flex1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pass {
    flex-direction: row;
    margin-bottom: 12px;
    margin-top: 4px;
    width: 50%;
    // margin-top: 12px;
}







.instruction {

    font-weight: 700;
    @extend .h2;
    margin-top: 16px;

    padding-left: 18px;
    padding-top: 2px;


}

.instruction1 {
    font-weight: 500;
    padding-left: 19px;
    @extend .p1;
    padding-top: 10px;
}

.enroll {

    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 16px ; 


}

.enroll0 {
    // width: 70%;
    // padding: 16px;
    flex: 1;
    margin-right: 24px;
    // margin-top: -16px 
}

.enroll1 {

    @extend .h3;
    font-weight: 700;
    margin-bottom: 4px

}

.enroll2 {
    @extend .p1;
}

.buttons {
    // flex: 1;
}


.CustomButton {
    margin-top: 0px;
}

.flex2 {

    flex-direction: row;
    width: 50%;
}

.flex3 {
    flex-direction: row;
}

.borderBlack {
    border: 1px solid black;
    // background-color: green($color: #000000);
}