@use "../../library" as themes;
@import "../../common";


.p {

   @extend .H;
   line-height: 29px;

   margin-bottom: 16px;
   margin-left: 16px;
}



.pagiStyle {
   padding: 24px 0px 16px 0px;
}





.txt {
   font-family: 'Open Sans-serif';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 27px;
   color: black;
   padding-top: 16px;
}


.button {
   @extend .button-bcr;
   border: solid;
   padding: 15px;
   margin-left: 20px;
   width: 90%;
   font-weight: 600;
   margin-bottom: 20px;

}

.navbar {
   margin-top: 10px;
   margin-bottom: 8px;
   @extend .input-bcr;

}

.pagiDot {
   width: 60px;
   height: 5px;
}

.inactDotStyle {
   width: 60px;
}

.paginationContainers {
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 0px 0px 16px 0px;
}

.image {
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;


}

.div {
   margin-top: 8px;

}

.textContainer{
   // justify-content: center;
   // align-items: center
}

.main {
   @extend .title1-bcr;
   padding: 8px;
   padding-right: 8px;
   padding-left: 8px;
   @extend .p1;
   border-radius: 5px;
   margin-top: 10px;
   margin-left: 20px;
   flex-direction: row;
}

.main1 {
   @extend .title-bcr;
   border-radius: 5px;
   @extend .p1;
   margin-top: 10px;
   padding: 8px;
   padding-right: 8px;
   padding-left: 10px;
   margin-left: 12px;
}

.info {
   padding-left: 16px;
   margin-left: 20px;
   @extend .h6;
   margin-bottom: 15px;

   flex: 1;
   flex-shrink: 1;

}

.date {
   align-items: flex-end;
   padding-right: 16px;
   padding-left: 20px;
   @extend .h6;
   margin-left: 38px;



}

.data {
   align-items: flex-end;
   padding-right: 16px;
   padding-left: 16.75px;

   margin-left: 38px;
   @extend .p1;
   margin-top: 8px;
   margin-bottom: 40px;

}

.division {
   @extend .input-bcr;

}



.navbar {
   margin-bottom: 8px;
}

.gap {

   height: 8px;
   @extend .card-bcr;

}

