@use "../library" as themes;
@import '../common';

.container {
  // background-color: themes.$primary;
  height: 100%;

  // align-items: center;

}

.heading {
  @extend .h1;
  color: white;

  // position: absolute;
  // bottom: 5%;
  padding: 16px 0px;

}

.textandimage {
  position: relative;
  // bottom: 5%;

}

.textContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  // margin: 6px 0px;

}

.pagination {
  margin: 0px;
  padding: 0px;
}

.paginationContainer {
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  padding: 0px 16px 16px 16px;
  width: 100%;
  flex-direction: column;
  // background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.paginationDot {
  width: 20;
}

.inactiveDotStyle {
  width: 8;
  height: 8;
}