@use "../../library" as themes;
@import '../../common';

.container {
  @extend .bcr;
  height: 100%;
  padding: 16px;
  padding-top: 96px;
}

.title {

  @extend .P;
  margin-top: 50px;


}

.p {
  @extend .p;
  flex-direction: row;
  margin-top: 16px;
}

.formContainer {

  padding: 16px 0px;
}

.bottomContainer {

  position: relative;
  bottom: 16px;
  right: 16px;
  flex-direction: row;
}



.signUp {
  margin: 16px;
  width: 100%;
}