@use "../../library" as themes;
@import '../../common';

.container {
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.infoContainer {
  position: absolute;
  bottom: 0;
  padding: 16px;
}

.heading {
  @extend .p;
  font-family: 'OpenSans-SemiBold';
  text-align: center;
  padding: 0px 0px 16px 0px
}

.text {
  @extend .h6;
  text-align: center;

}

.buttonText {
  color: white;
  z-index: 100;
}

.buttonText {}