@use '../../library' as themes;
@import '../../common';

.container {
  @extend .bcr;
  height: 100%;
  position: relative;
  background-color: #f2f2f2;


}

.containers {
  flex-grow: 1;
  padding-bottom: 60px;
}

.titleContainer {
  margin-top: 32px;
  flex-direction: column;
  align-items: center;


}

.title {
  @extend .P;
  color: black;
  font-weight: 500;
  margin: 0px 0px 8px 0px;
}

.link {
  @extend .link;
  @extend .p;
}

.p {
  @extend .p;
  flex-direction: row;
  margin-bottom: 8;
}

.formContainer {
  padding: 16px;
  @extend .bcr;
  background-color: #f2f2f2;
}

.signUp {
  // width: 90%;
  padding: 14px 16px;
  // margin: 16px;
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // left: 0;
}

.errortext {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
  padding: 16px 0px;
  margin: 2px;
  border-radius: 5px;
  background-color: themes.$errorBackground;
  align-items: center;
}

.errorContainer {
  padding: 0px 32px;
}

.termsandcondition {
  // @extend .h3;
  padding: 16px;

}

.condition {
  @extend .h5;
  // font-size: 14;

}

.terms {
  color: blue;
}

.border {
  background-color: #f2f2f2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.background {
  background-color: #2E3192;
}