//colors
$primary: #252775;
$live: #D92653;
$white : #ffffff;
$black : #000000;
$input : #F8F8F8;
$errorBackground : #F8A4A7;
$selectedbutton : #03958A;
$disabled: #909090;
$success-bg: '#9AD5D0';
$iconBg: #FFCB05;
$background-color: #E5E5E5;
$title-bcr: #F4777C;
$tilte1-bcr: #EAEAEA;
$input-color: white;
$carousel-background: #EAEAEA;


//fonts
$h1: 32;
$h2: 24;
$h3: 20;
$h4: 18;
$p: 16;
$h5: 14;
$h6: 12;
$p1: 14;
$P: 20;