@use "../library" as themes;
@import '../common';

.container {
  padding: 12px 24px;
  border-radius: 4px;
  align-items: center;
  color: white;
}

.whiteBack {
  background-color: themes.$white;

}

.themeBack {
  background-color: themes.$primary;
}

.disabledBack {
  background-color: themes.$disabled;
}

.text {
  color: black;
  font-family: 'OpenSans-Regular';
}

.white {
  color: themes.$white;
  font-family: 'OpenSans-Regular';
}