@use "../library" as themes;
@import "../common";

.pagiStyle {
  padding: 24px 0px 16px 0px;
}

.pagiDot {
  width: 60px;
  height: 5px;
}

.inactDotStyle {
  width: 60px;
}

.button {
  @extend .button-bcr;
  border: solid;
  padding: 15px;
  margin-left: 20px;
  width: 90%;
  font-weight: 600;
  margin-bottom: 20px;

}

.paginationContainers {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 16px 0px;
}