@use '../library' as themes;
@import '../common';

.infoBox {
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 12px;
}

.icon {
    height: 28px;
    width: 28px;
    justify-content: center;
    background-color: #FFCB05;
    padding: 4px;
    border-radius: 4px;
    margin-right: 12px;
}

.infoTitle {
    @extend .h5;
    margin-right: 16px;
    font-weight: 700;

}

.infoDesc {
    margin-top: 2px;
    @extend .p1;
    margin-right: 16px;
}