@use '../library' as themes;
@import '../common';

.tagContainer {
    padding: 2px 4px;
    margin-right: 8px;
    border-radius: 4px;
}

.tag {
    @extend .p;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #000;
    text-transform: uppercase;
}