@use "../../library" as themes;
@import '../../common';

.container {
    @extend .bcr;
    height: 100%;
    position: relative;
    background-color: #f2f2f2;
}

.containers {
    flex-grow: 1;
    padding-bottom: 60px;
}

.lastcontainer {
    padding: 16px;
    margin: 2px;
    flex-direction: row;
}

.titleContainer {
    flex-direction: column;
    padding: 16px;
    align-items: center;
}

.title {
    @extend .P;
    color: black;
    font-weight: 600;
    margin: 8px 0px
}

.link {
    @extend .link;
    @extend .p;
    font-weight: 400;
}

.link1 {

    @extend .link;
    @extend .p;
    font-weight: 400;
}

.p {
    @extend .p;
    flex-direction: row;
    text-align: center;
}

.formContainer {
    padding: 16px;
}

.signIn {
    width: 90%;
    padding: 14px 16px;
    margin: 16px;
    position: relative;

}

.errortext {
    width: 100%;
    font-weight: 400;
    font-size: 26px;
    padding: 16px 0px;
    margin: 2px;
    border-radius: 5px;
    background-color: #F8A4A7;
    text-align: center;
}

.errorContainer {
    padding: 0px 32px;
}

.border {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #f2f2f2;
}

.background {
    background-color: #2E3192;
}